/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * adonis-web:
 *   - http://typekit.com/eulas/00000000000000000001007d
 *   - http://typekit.com/eulas/00000000000000000001007f
 *   - http://typekit.com/eulas/000000000000000000010080
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-09-12 10:56:23 UTC"}*/

@import url("p-1.css");

@font-face {
font-family:"adonis-web";
src:url("af/807888/00000000000000000001007d/27/l") format("woff2"),url("af/807888/00000000000000000001007d/27/d") format("woff"),url("af/807888/00000000000000000001007d/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adonis-web";
src:url("af/0082da/00000000000000000001007f/27/l") format("woff2"),url("af/0082da/00000000000000000001007f/27/d") format("woff"),url("af/0082da/00000000000000000001007f/27/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"adonis-web";
src:url("af/d99a65/000000000000000000010080/27/l") format("woff2"),url("af/d99a65/000000000000000000010080/27/d") format("woff"),url("af/d99a65/000000000000000000010080/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-adonis-web { font-family: "adonis-web",serif; }
