/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * afronaut:
 *   - http://typekit.com/eulas/00000000000000007736d6e1
 * area-normal:
 *   - http://typekit.com/eulas/0000000000000000774b9fc0
 *   - http://typekit.com/eulas/0000000000000000774b9fbd
 *   - http://typekit.com/eulas/0000000000000000774b9fc8
 * arsenica-variable:
 *   - http://typekit.com/eulas/0000000000000000774afb61
 *   - http://typekit.com/eulas/0000000000000000774afb64
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-06-20 11:57:05 UTC"}*/

@import url("p-5.css");

@font-face {
font-family:"afronaut";
src:url("af/8054e0/00000000000000007736d6e1/30/l") format("woff2"),url("af/8054e0/00000000000000007736d6e1/30/d") format("woff"),url("af/8054e0/00000000000000007736d6e1/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"arsenica-variable";
src:url("af/ebaaa9/0000000000000000774afb61/30/l") format("woff2"),url("af/ebaaa9/0000000000000000774afb61/30/d") format("woff"),url("af/ebaaa9/0000000000000000774afb61/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"arsenica-variable";
src:url("af/d6ebd2/0000000000000000774afb64/30/l") format("woff2"),url("af/d6ebd2/0000000000000000774afb64/30/d") format("woff"),url("af/d6ebd2/0000000000000000774afb64/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"area-normal";
src:url("af/348926/0000000000000000774b9fc0/30/l") format("woff2"),url("af/348926/0000000000000000774b9fc0/30/d") format("woff"),url("af/348926/0000000000000000774b9fc0/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"area-normal";
src:url("af/911b4f/0000000000000000774b9fbd/30/l") format("woff2"),url("af/911b4f/0000000000000000774b9fbd/30/d") format("woff"),url("af/911b4f/0000000000000000774b9fbd/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"area-normal";
src:url("af/6f9a29/0000000000000000774b9fc8/30/l") format("woff2"),url("af/6f9a29/0000000000000000774b9fc8/30/d") format("woff"),url("af/6f9a29/0000000000000000774b9fc8/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

.tk-afronaut { font-family: "afronaut",sans-serif; }
.tk-arsenica-variable { font-family: "arsenica-variable",sans-serif; }
.tk-area-normal { font-family: "area-normal",sans-serif; }
