/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ivymode:
 *   - http://typekit.com/eulas/00000000000000007735ce78
 *   - http://typekit.com/eulas/00000000000000007735ce7b
 *   - http://typekit.com/eulas/00000000000000007735ce91
 *   - http://typekit.com/eulas/00000000000000007735ce88
 * tenon:
 *   - http://typekit.com/eulas/00000000000000007735e89c
 *   - http://typekit.com/eulas/00000000000000007735e8a5
 *   - http://typekit.com/eulas/00000000000000007735e8a2
 *   - http://typekit.com/eulas/00000000000000007735e89f
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-08-13 13:14:05 UTC"}*/

@import url("p-9.css");

@font-face {
font-family:"ivymode";
src:url("af/408fba/00000000000000007735ce78/30/l") format("woff2"),url("af/408fba/00000000000000007735ce78/30/d") format("woff"),url("af/408fba/00000000000000007735ce78/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"ivymode";
src:url("af/2b42d0/00000000000000007735ce7b/30/l") format("woff2"),url("af/2b42d0/00000000000000007735ce7b/30/d") format("woff"),url("af/2b42d0/00000000000000007735ce7b/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ivymode";
src:url("af/8c4de6/00000000000000007735ce91/30/l") format("woff2"),url("af/8c4de6/00000000000000007735ce91/30/d") format("woff"),url("af/8c4de6/00000000000000007735ce91/30/a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ivymode";
src:url("af/2868ab/00000000000000007735ce88/30/l") format("woff2"),url("af/2868ab/00000000000000007735ce88/30/d") format("woff"),url("af/2868ab/00000000000000007735ce88/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"tenon";
src:url("af/e6b7c8/00000000000000007735e89c/30/l") format("woff2"),url("af/e6b7c8/00000000000000007735e89c/30/d") format("woff"),url("af/e6b7c8/00000000000000007735e89c/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"tenon";
src:url("af/2bbe08/00000000000000007735e8a5/30/l") format("woff2"),url("af/2bbe08/00000000000000007735e8a5/30/d") format("woff"),url("af/2bbe08/00000000000000007735e8a5/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"tenon";
src:url("af/86b89e/00000000000000007735e8a2/30/l") format("woff2"),url("af/86b89e/00000000000000007735e8a2/30/d") format("woff"),url("af/86b89e/00000000000000007735e8a2/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"tenon";
src:url("af/279269/00000000000000007735e89f/30/l") format("woff2"),url("af/279269/00000000000000007735e89f/30/d") format("woff"),url("af/279269/00000000000000007735e89f/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-ivymode { font-family: "ivymode",sans-serif; }
.tk-tenon { font-family: "tenon",sans-serif; }
